CLIENT_GATEWAY_PORT=3000
PAYMENTS_MS_PORT=3003
STRIPE_SECRET_KEY=
STRIPE_SIGNING_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3000/payments/success
STRIPE_CANCEL_URL=http://localhost:3000/payments/cancel